Options +FollowSymlinks
RewriteEngine On
RewriteRule ^view_product/?.*-([_a-z0-9]*)-([_a-z0-9]*).html$ view_product.php?pid=$1 [L]

<IfModule mod_expires.c>
  ExpiresActive On ExpiresByType text/css "access plus 1 year" ExpiresByType
  text/javascript "access plus 1 year" ExpiresByType image/jpeg "access plus 1
  year" ExpiresByType image/png "access plus 1 year" ExpiresByType image/gif
  "access plus 1 year"
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
  AddOutputFilterByType DEFLATE application/javascript AddOutputFilterByType
  DEFLATE text/xml application/xml text/x-component AddOutputFilterByType
  DEFLATE application/xhtml+xml application/rss+xml application/atom+xml
  AddOutputFilterByType DEFLATE image/svg+xml application/vnd.ms-fontobject
  application/x-font-ttf font/opentype
</IfModule>


